<div class="stats stats-vertical shadow w-11/12">
    <div class="stat">
        <div class="stat-title">Team</div>
        <div class="stat-value">{{stat[currentStat].team}}</div>
        <div class="stat-desc">{{stat[currentStat].year}}</div>
    </div>
    <div class="stat">
        <div class="stat-title">Points</div>
        <div class="stat-value">{{stat[currentStat].pts}}</div>
        <div class="stat-desc">{{stat[currentStat].fg}} (FG%)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Assistance</div>
        <div class="stat-value">{{stat[currentStat].ast}}</div>
        <div class="stat-desc">{{stat[currentStat].blk}} (blocks)</div>
    </div>
</div>