<div class="card my-10 card-side w-10/12 py-8 px-8 mx-auto glass">
    <ng-container *ngIf="player.stats">
        <app-stats-card 
        [stat]="player.stats"
        [currentStat]="currentStat"
        class="w-3/12"></app-stats-card>
    </ng-container>
    <div class="card-body">
        <app-player-card 
            [player]="player"
            (changeStat)="changeStat($event)"
            (filter)="applyFilter($event)"
        ></app-player-card>
        <app-search-box
            [players]="players!"
            [filters]="filters"
            (filter)="applyFilter($event)"
            (player)="changePlayer($event)"
            (modal)="changeModal($event)"
        >
        </app-search-box>
    </div>
  </div>
<app-modal  [player]="modal"></app-modal>
