
<button (click)="removeFilter(filter)" *ngFor="let filter of filters" class="badge badge-secondary">{{position[filter]}}</button>
<div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of playersFilterd">
            <td>
                <div class="avatar">
                    <div class="w-10 rounded-full">
                        <img [src]="player.imageUrl"/>
                    </div>
                </div>
            </td>
            <td>{{player.lname}}, {{player.fname}}</td>
            <td>{{player.number}}</td>
            <td>
              <button (click)="changePlayer(player)" class="btn btn-active btn-primary">Select</button>
              <label (click)="changeModal(player)" for="my-modal" class="btn modal-button">open</label>
            </td>
        </tr>
      </tbody>
    </table>
  </div>